$white:           #fff;
$black:           #000;
$purple:          #288feb;
$light-black:     #4c5760;
$light-gray:      #f4f7f8;
$gray:            #c0c4c6;
$green:           #28cb75;
$red:             #c25975;
$js-yellow:       #f8dc3d;
$red:             #e15258;
$purple:          #7d669e;
$orange:          #eb7728;
$blue:            #288feb;
$light-blue:      #39ADD1;

$screen-xs-max: "767px";
$screen-sm-min: "768px";
$screen-sm-max: "991px";
$screen-md-min: "992px";
$screen-md-max: "1199px";
$screen-lg-min: "1200px";